<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4" xmlns:mobile="http://schemas.microsoft.com/appx/manifest/mobile/windows10" xmlns:uap2="http://schemas.microsoft.com/appx/manifest/uap/windows10/2" IgnorableNamespaces="uap mp rescap iot uap3 uap4 mobile uap2">
  <Identity Name="WM10AppDataManageToolV2" Publisher="CN=Admin" Version="2.4.0.0" />
  <mp:PhoneIdentity PhoneProductId="554695aa-9557-4353-8b64-d9fd6aae2125" PhonePublisherId="05500025-3500-0000-0000-000000000000" />
  <Properties>
    <DisplayName>WM10AppDataManageTool</DisplayName>
    <PublisherDisplayName>Mahdi Ghiasi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AppDataManageTool.App">
      <uap:VisualElements DisplayName="WM10AppDataManageTool" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Application Data Manage Tool" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\Square71x71Logo.png" ShortName="App Data Manage Tool">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#000000" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="portraitFlipped" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
    <iot:Capability Name="systemManagement" />
    <uap3:Capability Name="remoteSystem" />
    <uap:Capability Name="videosLibrary" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="musicLibrary" />
    <uap:Capability Name="appointments" />
    <uap:Capability Name="voipCall" />
    <uap4:Capability Name="userDataTasks" />
    <uap:Capability Name="enterpriseAuthentication" />
    <iot:Capability Name="lowLevelDevices" />
    <mobile:Capability Name="recordedCallsFolder" />
    <uap2:Capability Name="phoneCallHistoryPublic" />
    <uap:Capability Name="removableStorage" />
    <uap:Capability Name="userAccountInformation" />
    <rescap:Capability Name="id_cap_runtime_config" />
    <rescap:Capability Name="id_cap_oem_custom" />
    <rescap:Capability Name="oemDeployment" />
    <rescap:Capability Name="oemPublicDirectory" />
    <rescap:Capability Name="runtimeConfig" />
    <rescap:Capability Name="oemCustom" />
    <rescap:Capability Name="deviceUnlock" />
    <rescap:Capability Name="deviceManagementAdministrator" />
    <rescap:Capability Name="userDataSystem" />
    <rescap:Capability Name="packageManagement" />
    <rescap:Capability Name="packageQuery" />
    <rescap:Capability Name="id_cap_medialib_audio" />
    <rescap:Capability Name="id_cap_medialib_playback" />
    <rescap:Capability Name="id_cap_medialib_photo" />
    <rescap:Capability Name="id_cap_webbrowsercomponent" />
    <rescap:Capability Name="id_cap_interopservices" />
    <rescap:Capability Name="id_cap_device_management_security_policies" />
    <rescap:Capability Name="id_cap_device_management_admin" />
    <rescap:Capability Name="id_cap_oem_deployment" />
    <rescap:Capability Name="id_cap_csp_foundation" />
    <rescap:Capability Name="id_cap_csp_oem" />
    <rescap:Capability Name="id_cap_csp_w4_application" />
    <rescap:Capability Name="id_cap_internet_explorer_search_provider_keys_hkcu" />
    <rescap:Capability Name="id_cap_removable_storage" />
    <rescap:Capability Name="id_cap_oempublicdirectory" />
    <rescap:Capability Name="id_cap_public_folder_full" />
    <rescap:Capability Name="id_cap_storage_management" />
    <rescap:Capability Name="id_cap_chamber_profile_data_rw" />
    <rescap:Capability Name="id_cap_chamber_profile_code_rw" />
    <DeviceCapability Name="lowLevel" />
    <DeviceCapability Name="pointOfService" />
  </Capabilities>
</Package>